<nav id="navigation-menu" class="navbar is-primary" data-sticky data-sticky-shadow>
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://vizuaalog.github.io/BulmaJS">
                <img src="{{ site.url }}/assets/images/bulmajs-logo-white.svg" alt="BulmaJS" width="112" height="28">
            </a>
            <div class="navbar-burger burger" data-trigger data-target="navbar">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="navbar" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="{{ site.url }}">
                    Home
                </a>

                <a class="navbar-item" href="{{ site.url }}/docs/{{ site.docs_version }}">
                    Documentation
                </a>

                <a class="navbar-item" href="{{ site.url }}/patrons">
                    Patrons
                </a>

                <a href="https://www.patreon.com/vizuaalog" class="navbar-item" target="_blank">
                    <img src="{{ site.url }}/assets/images/patreon-button.jpg" alt="Become a Patron">
                </a>
            </div>
        </div>
    </div>
</nav>
