<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    <div class="notification is-danger" style="border-radius: 0;margin: 0;">
      You are currently viewing the legacy documentation for versions before 0.10. To view the latest documentation please visit <a href="https://bulmajs.tomerbe.co.uk">bulmajs.tomerbe.co.uk</a>
    </div>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
